<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <img class="image_logo" src="../images/logo_ferdinaelectropng">
        <div class="titre">
            <h1>Bienvenue sur le Site Ferdinaelectro</h1>
        </div>
        <div class="contenu">
            <p>Ce site contient les informations sur l'entreprise ferdinaelectro.
                <br>Nous serons ravis que cette visite vous serait agréable.
                <br>Merci pour votre confiance.
            </p>
        </div>
        <button>Se connecter</button>
        <div class="pied">
            <p>@Copyright</p>
            <p>contact : +229 0153005087</p>
            <p>Bénin</p>
        </div>        
    </body>
</html>
